---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
// import amirk from "amir-kavousian-round.png";
// import julianm from "julian-mehnle-round.png";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Team">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Team</Fragment>
      <Fragment slot="desc"
        >We are on a mission to revolutionize AppSec with automated threat
        modeling and design reviews.<br />
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-20 mx-auto max-w-2xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-[200px] mx-auto">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 200px"
                width={200}
                height={200}
                class="rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-900 dark:text-gray-100">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-gray-700 dark:text-gray-400">
                {teamMemberEntry.data.title}
              </h3>
            </div>
            <div class="flex justify-center mt-2 gap-4">
              <a
                href={teamMemberEntry.data.linkedin}
                class="text-blue-700 hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300">
                <Icon class="w-5 h-5" name="mdi:linkedin" />
              </a>
              {teamMemberEntry.data.twitter &&
                teamMemberEntry.data.twitter.length > 0 && (
                  <a
                    href={teamMemberEntry.data.twitter}
                    class="text-gray-900 hover:text-gray-700 dark:text-gray-200 dark:hover:text-gray-100">
                    <Icon class="w-5 h-5" name="fa6-brands:square-x-twitter" />
                  </a>
                )}
            </div>
          </div>
        ))
      }
    </div>

    <div class="flex flex-col gap-2 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-900 dark:text-gray-100">
        Why are we building DevArmor?
      </h2>
      <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-400">
        <br />
        The idea for DevArmor was born out of our personal experience as engineering
        leaders and security founders.<br /><br />
        "Shift Left" and "DevSecOps", have failed to democratize security. There
        are still too many vulnerabilities and not enough time for the manual world
        of security. Devs don't need more alerts in their IDEs. Security engineers
        don't need more vulns to manage. Instead, we need security guardrails integrated
        into design and development workflows, to resolve security issues early.
        <br /><br />
        DevArmor creates threat models, offers design feedback, reviews code, and
        generates automatic remediation suggestions.
      </p>
    </div>
  </Container>
</Layout>
